@charset "utf-8";


// Set your brand colors
$purple: #8A4D76; 
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$grey-dark: $beige-light;
$grey-light: $beige-lighter;
$primary: $beige-light; 
$link: $beige-light;
$info:#050504;


// Update some of Bulma's component variables
$body-background-color: black;
$body-color: $beige-lighter;


nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .container{
    text-align: center;
}
.badge{
  border-width:0.4rem;
  border-radius:0.5rem;
  padding:0.3rem;
  border:solid;
  display: inline-block;

}
.project-table{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
	grid-gap: 0.5em;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: $info;
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }
  .project-table{
    display: inline;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 0.5em;

  }

}





$title-color:$beige-light;
$card-background-color:rgba(41, 41, 41, 0.877);
// Import Bulma
@import "../node_modules/bulma/bulma.sass";
@import '../node_modules/bulma-switch/dist/css/bulma-switch.min.css';
